a {
  
  text-decoration: none;
}

h1
  {
    font-size:50px;
    text-align:center;
    border-bottom:1px solid blue;
    margin:0;
  }
  ul{
    border-right:1px solid blue;
    margin:0;
    width:140px;
  }

  body{
    margin:0;
  }

  #grid{
       display:grid;
       grid-template-columns: 150px 1fr;
  }
  #grid ul{
    padding-top:22px;
  }
  #article{
    padding-left: 49px;
}
